<html>
    <head>
        <title>RES | 404</title>
        <link href="http://localhost:8000/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="text-center mt-5">
            <img class="img-responsive center-block" src="http://localhost:8000/img/error.png" style="max-width:20%;" alt="...">
            <h2>Not Found</h2>
            <h1 class="fw-bold">404</h1>
            <p>please use another link</p>
            <h2><%= error.status %></h2>
            <pre><%= error.stack %></pre>
        </div>
    </body>
</html>